spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/well-being
    username: postgres
    password: 9567

  liquibase:
    change-log: db/changelog/changelog-master.xml


  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${githubClientId}
            client-secret: ${githubClientSecret}
          google:
            client-id: ${googleClientId}
            client-secret: ${googleClientSecret}
  mail:
    host: smtp.yandex.com
    port: 587
    username: ${mail_username}
    password: ${mail_password}
    personal: ${mail_personal}
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true
          connectiontimeout: 25000
          timeout: 25000
          writetimeout: 25000
  kafka:
    bootstrap-servers: localhost:9092
jwt:
  token:
    secret: jwtsecretsecretsecretsecretsecretsecretsecretsecret
    expired: 1209600000

server:
  location: ${front_address}
