name: CI workflow

on:
  push:
    branches: ["master"]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: maven
    - name: Build with Maven
      run: mvn -B clean compile test --file pom.xml

    - name: checking tests
      uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: true # optional (default = false)
        flags: unittests # optional
        name: codecov-umbrella # optional
        token: ${{ secrets.CODECOV_TOKEN }} # required
          
